.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

.content {
    display: flex;
}


/* Sidebar and Accordion Styling */

.sidebar {
    width: 25%;
    height: 100vh;
    background-color: #f4f4f4;
    padding: 1rem;
    overflow-y: auto;
    border-right: 1px solid #ddd;
}

.accordion {
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 8px;
    overflow: hidden;
    background-color: #f9f9f9;
}

.accordion-item {
    margin-bottom: 10px;
}

.accordion-header {
    background-color: #E68057;
    color: white;
    cursor: pointer;
    padding: 10px;
    border: none;
    text-align: left;
    width: 100%;
    outline: none;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.accordion-header:hover {
    background-color: #E68057;
}

.accordion-body {
    max-height: 0;
    /* Collapsed state */
    overflow: hidden;
    transition: max-height 0.3s ease, padding 0.3s ease;
    /* Animate height and padding */
    padding: 0;
    /* No padding in collapsed state */
    background-color: #f9f9f9;
}

.accordion-body.open {
    max-height: 500px;
    /* Expand to fit content */
    padding: 10px;
    /* Add padding when expanded */
}


/* Accordion Header */

.accordion button {
    width: 100%;
    padding: 12px 16px;
    text-align: left;
    background-color: #E68057;
    color: white;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.accordion button:hover {
    background-color: #E68057;
}

.accordion button.active {
    background-color: #E68057;
}


/* Accordion Panel */

.accordion .panel {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-out;
    background-color: #fff;
    padding: 0 16px;
    border-top: 1px solid #ccc;
}

.accordion .panel.show {
    max-height: 300px;
    /* Adjust based on content */
    padding: 12px 16px;
}


/* Accordion Content Styling */

.accordion .panel ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.accordion .panel ul li {
    padding: 8px 0;
    border-bottom: 1px solid #ddd;
    font-size: 14px;
}

.accordion .panel ul li:last-child {
    border-bottom: none;
}

.accordion .panel ul li:hover {
    background-color: #f5f5f5;
    cursor: pointer;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}